<!DOCTYPE html>
<html {{ LANGUAGE_CODE|default:"pt-br" }}>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block titulo %}{% endblock %}</title>
</head>

<body>

  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>

    <li>
      <a href="{% url 'evento' %}">O evento</a>
      <ul>
        <li><a href="">Sobre o Evento</a></li>
        <li><a href="">Datas Importantes</a></li>
        <li><a href="">Comissões</a></li>
        <li><a href="">Contatos</a></li>
      </ul>
    </li>
    <li><a href="{% url 'inscricoes' 2 %}">Inscrições</a></li>
    <li>
      <a href="{% url 'minicursos' %}">Minicurso</a>
      <ul>
        <li><a href="{% url 'minicursosnormas' %}">Normas</a></li>
        <li><a href="{% url 'minicursosinscricoes' %}">Inscrição</a></li>
        <li><a href="{% url 'minicursoscadastro' %}">Cadastro</a></li>
        <li><a href="{% url 'minicursosprogramacao' %}">Programação</a></li>
      </ul>
    </li>
    <li>
      <a href="{% url 'trabalhoscientificos' %}">Trabalhos Científicos</a>
      <ul>
        <li><a href="">Normas</a></li>
        <li><a href="">Submissão</a></li>
      </ul>
    </li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">logout</a></li>
      <li><a href="{% url 'mudarsenha' %}">Mudar senha</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    <li><a href="{% url 'resetarsenha' %}">Esqueceu a senha?</a></li>
  </ul>

  {% if user.is_authenticated %}
    <p>Olá, <b>{{ user.get_username }}</b></p>
  {% else %}
    <p>Quer participar? <a href=" {% url 'cadastro' %} ">Cadastre-se</a></p>
  {% endif %}

  {% block content %} {% endblock content %}

</body>

</html>
