{% extends "sematicaifrnsc/base.html" %}

{% block titulo %}SEMATICA{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
  </form>
{% endblock %}
