{% extends "sematicaifrnsc/base.html" %}
{% block titulo %}SEMATICA | Login{% endblock %}
{% block content %}
<div class="row omb_row-sm-offset-3">
  <div class="col-xs-12 col-sm-6">
    <form class="omb_loginForm" autocomplete="off" method="POST">
      {% csrf_token %}
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="username" placeholder="email address">
      </div>
      <span class="help-block"></span>

      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <span class="help-block">Password error</span>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>
{% endblock %}
