{% extends "sematicaifrnsc/base.html" %}

{% block titulo %}{{nome|upper}}{% endblock %}
{% block content %}


  {%if minicursos.count > 0%}
    <p>minicursos cadastrados: {{ minicursos.count }}</p>
  {%endif%}

  {%for minicurso in minicursos%}
    <p>{{minicurso}}</p>
    <!-- <p>Ministrante: {{minicurso.usuario.first_name}}</p> -->
  {%endfor%}
{% endblock %}
