{% extends 'sematicaifrnsc/base.html' %}

{% block content %}
<div class="container">
    <h1>Resetar Senha</h1>
    <p>
        Esqueceu su asenha? Insra seu email no campo abaixo e te enviaremos um email com instrçoes para uma nova senha</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar solicitação</button>
    </form>
</div>
{% endblock %}
