{% extends 'sematicaifrnsc/base.html' %}

{% block content %}
<div class="container">
    <h1>Email enviado</h1>
    <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        
        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
</div>
{% endblock %}
