{% extends 'sematicaifrnsc/base.html' %}

{% block content %}
<div class="container">
    <h1>Insira sua nova senha</h1>
    <p>

    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Confirmar</button>
    </form>
</div>
{% endblock %}
